<!doctype html>
<html ng-app="">
  <head>

    <!-- Load angular.js first -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

  </head>
  <body>
    <div>
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
      <h3>{{ user.address }}</h3>
      <h3>{{ abcd }}</h3>
    </div>
    <div>
      <input type="text" ng-model="user.first_name" placeholder="First Name">

      <input type="text" ng-model="user.last_name" placeholder="Last Name">

      </br>
      <textarea rows="4" cols="50" ng-model="user.address" placeholder="Address"></textarea>
    </div>


    <div>
      <h1>Car: {{ model }} {{ make }}</h1>
      <h3>Manufacturer: {{ manufacturer }}</h3>
      <h3>Price: {{ price }}</h3>
      <p>Review: {{ review }}</p>
    </div>
    <div>
      <input type="text" ng-model="model" placeholder="Model"></br>
      <input type="text" ng-model="make" placeholder="Make"></br>
      <input type="text" ng-model="manufacturer" placeholder="Manufacturer"></br>
      <input type="text" ng-model="price" placeholder="On Road Price"></br>

      <textarea rows="4" cols="50" ng-model="review" placeholder="Review"></textarea>
    </div>

  </body>
</html>