<!doctype html>
<html ng-app="LessonOneApp">
  <head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css">

    <!-- Load angular.js first -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <!-- Then load your app file which uses angular -->
    <script src="js/main.js"></script>

  </head>
  <body>
    <div ng-controller="UserController">
      <div style="margin:30px;">
        <div>
          <h1>{{ user.first_name }} {{ user.last_name }}</h1>
          <h3>{{ user.address }}</h3>
        </div>
        <div>
          <input type="text" ng-model="user.first_name" placeholder="First Name">

          <input type="text" ng-model="user.last_name" placeholder="Last Name">

          </br>
          <textarea rows="4" cols="50" ng-model="user.address" placeholder="Address"></textarea>
        </div>
      </div>
    </div>

  </body>
</html>